<style>
    div {
        padding-bottom: 15px;
    }
</style>
<div>
    <div>
        Name : <input nbInput #name status="info">
    </div>
    <div>
        Age : <input nbInput #age status="info">
        Start work Age : <input nbInput #sage status="info">
    </div>
    <div>
        Salary : <input nbInput #salary status="info">
        Starter salary : <input nbInput #ssalary status="info">
    </div>
    <div><button nbButton shape="semi-round" status="info"
            (click)="Calculate(name.value,age.value,sage.value,salary.value,ssalary.value)">Calculate</button>
    </div>

    <p *ngIf="curr">คุณ {{cal_name}} ควรมีเงินเก็บตอนนี้เท่ากับ {{ curr }} บาท</p>
</div>