<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
    <a routerLink="">
      <img src="assets/Piggy.png" style="width: 60px; height: 60px; margin: 15px; padding-bottom: 5px;">
    </a>
    <span class="font-header">
      <a routerLink="" title="Home" class="topmenu">Home</a>
      <a routerLink="cal" title="Calculate" class="topmenu">Calculate</a>
    </span>
    <a class="iconhead" href="https://github.com/krittanut">
      <nb-icon icon="github" title="Go to my github"></nb-icon>
    </a>
    <a class="iconhead" href="https://www.facebook.com/profile.php?id=100001020143861">
      <nb-icon icon="facebook" title="Go to my facebook"></nb-icon>
    </a>
    <a class="iconhead" href="https://twitter.com/ksangsri1">
      <nb-icon icon="twitter" title="Go to my Twitter"></nb-icon>
    </a>

    <!-- <nb-icon icon="star"></nb-icon> -->
  </nb-layout-header>

  <nb-layout-column class="center-col">

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>