.iconhead {
    position: relative;
    background-color: white;
    border-radius: 30%;
    margin: 10px; 
    left: 70%;
    // text-align: end;
}

.center-col {
    text-align: center;
}

a {
    text-decoration: none;
    padding: 8px;
    border-radius: 20%;
    margin: 10px;
}

a.topmenu:hover {
    
    background-color: rgb(185, 233, 255);
}



