@import 'themes';

@import '~@nebular/theme/styles/globals';
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

* { 
  font-family: 'Prompt', sans-serif;
  font-size: large;
}

.font-header {
  color: rgb(0, 6, 43);
  margin-left: 20px;
  font-size: larger;
}